src/main/resources/exposition.xsd

<?xml version="1.0" encoding="UTF-8"?> 

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
    <xs:element name="exposition"> 
        <xs:complexType> 
            <xs:sequence> 
                <xs:element name="oeuvre" maxOccurs="unbounded"> 
                    <xs:complexType> 
                        <xs:sequence> 
                            <xs:element name="titre" type="xs:string"/> 
                            <xs:element name="artiste" type="xs:string"/> 
                            <xs:element name="technique" type="xs:string"/> 
                            <xs:element name="style" type="xs:string"/> 
                            <xs:element name="anneeCreation" type="xs:gYear"/> 
                        </xs:sequence> 
                        <xs:attribute name="id" type="xs:string" use="required"/> 
                    </xs:complexType> 
                </xs:element>
            </xs:sequence> 
            <xs:attribute name="nom" type="xs:string" use="required"/> 
            <xs:attribute name="lieu" type="xs:string" use="required"/> 
            <xs:attribute name="date" type="xs:date" use="required"/> 
        </xs:complexType> 
    </xs:element>
 </xs:schema>
 